.pw{
	float:right;
	margin-left:12em;
}
td.text_bio{
	color: blue;
}
#ubd{
	margin-left:8px;
	background-color: yellow;
	color:blue;
}

#gpw{
	float:right;
	background-color: yellow;
	color:blue;
}

table{
	border-spacing: 10px;
}