* {
    font-family: "Arial";
}

nav {
    display: block;
    background-color: #00BBFF;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px;
}

div.container-login {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.awal {
    font-family: 'arial';
}

.container-login h2 {
    font-family: 'arial';
}

input {
    background-color: #aadeff
}

.menunav {
    font-family: "Arial";
    color: white;
    font-size: 1.1em;
    display: inline-block;
    margin: 5px 40px 0px 15px;
}

.sidemenu {
    margin: 15px 40px 0px 15px;
}

.iconlogout {
    float: right;
    margin: 13px 15px 0px 0px;
}

.container-profile {
    float: right;
}

.icon {
    width: 30px;
    padding-right: 80px;
    padding-left: 0px;
}

.fotomhs {
    width: 30px;
    padding-right: 15px;
}

div.namamhs {
    text-align: right;
    display: inline-block;
    margin-top: 14px;
    margin-right: 20px;
    margin-left: 20px;
}